* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
}

#container {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

#main-content {
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

form {
    margin-top: 60px;
    padding: 50px;
    border-radius: 20px;
    -webkit-box-shadow: 0 10px 33px #1731a738;
    box-shadow: 0 10px 33px #1731a738;
    margin-bottom: 80px;
}

form h2 {
    text-align: center;
    margin: -20px 0px 30px 0px;
    color: #1731a7;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input, 
select {
    height: 30px;
    border-radius: 10px;
    border: 1px solid #1731a738;
    outline: none;
    padding: 0 8px;
}

button {
    background-color: #1731a7;
    border-radius: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 550;
    border: 1px solid #1731a738;
    margin-bottom: 25px;
}

label {
    font-size: 14px;
}

#main-content>h2 {
    color: #1731a7;
    margin-bottom: 20px;
}

header {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #1731a7;
    color: #fff;
    padding: 20px;
}

header>a {
    color: #fff;
}

header>a:link {
    color: #fff;
}

footer {
    position: relative;
    bottom: 0px;
    right: 0;
    text-align: center;
    background-color: #1731a7;
    color: #fff;
}

footer p {
    padding: 20px;
}